.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Form {
  background-color: #595c64;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-bottom: 20px;
  text-align: center;
}

.form-input {
  margin-bottom: 15px;
}

.form-input input {
  width: calc(100% - 16px);
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btnSub {
  width: calc(100% - 16px);
  padding: 10px;
  background-color: #0840d9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.btnSub:hover {
  background-color: #4fa3b0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 15px 0 0;
}

ul a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
}

ul a:hover {
  text-decoration: underline;
  color: #0840d9;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}